{% extends "it4all_base.html" %}

{% block content %}
    <form method="post" action="{{ url_for('route_login') }}">

        <p>
            <label for="username">Nutzername:</label>
            <input type="text" id="username" name="username" required>
        </p>

        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </p>

        <p>
            <button>Einloggen</button>
        </p>

    </form>
{% endblock %}