{% extends "it4all_base.html" %}

{% block content %}
    <form method="post" action="{{ url_for('route_register') }}">

        <p>
            <label for="username">Nutzername:</label>
            <input type="text" id="username" name="username" required>
        </p>

        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </p>

        <p>
            <label for="passwordRepeat">Repeat: Password</label>
            <input type="password" id="passwordRepeat" name="passwordRepeat" required>
        </p>

        <button>Registrieren</button>

    </form>
{% endblock %}